<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1">
    <meta name="keywords" content="">

    <title>{% if page.title %}{{ page.title }}{% endif %}</title>

    <link rel="stylesheet" media="all" href="/css/screen.css">
    <link rel="stylesheet" media="all" href="/css/patterns.css">
    <script src="https://use.typekit.net/jxd4ghf.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- build:js /scripts/vendor/modernizr.js -->
        <script src="/../bower_components/modernizr/modernizr.js"></script>
    <!-- /build -->
</head>
<body>
    {{ content }}
    <script src="/scripts/common.js"></script>
    <!-- build:js /resources/scripts/vendor/svg4everybody.js -->
        <script src="/../bower_components/svg4everybody/svg4everybody.js"></script>
    <!-- /build -->
</body>
</html>
