@charset "utf-8";
/*
 Knight Bootstrap theme by BootstrapTaste.com
 Theme URI: http://bootstraptaste.com/knight-free-bootstrap-theme/
 Author: BootstrapTaste
 Author URI: http://bootstraptaste.com
 */
 
/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#000;
	margin:0;
}
h2{
	font-size:34px;
	color:#222222;
	font-family: 'Georgia';
	font-weight:700;
	margin:0 0 15px 0;
	text-align:center;
}
h3{
	font-family: 'Georgia';
	color:#222222;
	font-size:20px;
	margin:0 0 10px 0;
	font-weight:400;
}
h6{
	font-size:16px;
	color:#888888;
	font-family: 'Georgia';
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}
p{
	line-height:24px;
	margin:0;
}

/* Header Styles
---------------------------------*/

.header{
	text-align:center;
	background:url('/img/bg-header.jpg') center top no-repeat;
	padding:33% 0 30px 0;
	background-repeat:no-repeat;
	background-size:contain;
}
.logo{
	width:20em;
	margin:0 auto 35px;
	position: absolute;
    top: 20px;
    left: 20px;
	z-index:3000;
}
.logo svg{
	width:20em;	
}
.header h1{
	font: 400 48px/48px 'Georgia';
	letter-spacing: 1px;
	color:#2E1344;
	background:#F2F2F2;
	padding:20px 30px;
	width:80%;
	margin:0 auto 40px auto;
}
.header .link{
	position:absolute;
	top:20px;
	right:20px;	
}
.header p{
	color:#000000;
	width:57%;
	font-size:18px;
	margin:0 auto;
}
.we-create{
	padding:0;
	margin:35px 0 55px;
}
.wp-pic{
	margin-bottom:20px;
}
.we-create li{
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #bcbcbc;
	text-transform: uppercase;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;
}
.we-create li:first-child{
	background:none;
}

.start-button {
	padding-left: 0px;
}

.start-button li a{
color: #fff;
}

.link{
	padding:15px 35px;
	background: #8A196A; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#8A196A, #302156); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8A196A, #302156); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8A196A, #302156); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8A196A, #302156); /* Standard syntax */
	box-shadow: 0px 2px 2px rgba(34,34,34,0.6);
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	display:inline-block;
	border-radius:5px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
	box-shadow: none;
}

.link:active, .link:focus {
	text-decoration:none;
	color:#fff !important;
}

.small-logo{ 
	padding:0 32px;
}

.main-section{
	padding:90px 0 110px;
}
.main-section#block{
	padding-top:0;	
	padding-bottom:0;
	margin-top:-40px;
	margin-bottom:-40px;
}

/* intro
---------------------------------*/

#intro.main-section{
	background:#fff;
	padding:0 0 60px 0;
}
#intro.main-section h2{
	font: 400 24px/36px 'Roboto';
	width:68%;
	margin:auto;
}

/* Finances
---------------------------------*/
#finances.main-section{
	background:#2E1344;
	padding: 50px 0 50px 0;
}
#finances.main-section .row div.fadeInLeft{
	padding-right:21px!important;
}
#finances.main-section .row div.fadeInRight{
	padding-left:21px!important;
}
#finances.main-section .container h2{
	color:#fff;
	font: 400 32px/34px 'Georgia';
	text-transform:none;
	margin-bottom:20px;
}

#finances.main-section .container p{
	font: 300 17px/21px 'Roboto';
	color:#fff;
	text-align:center;
}

/* Finance Services
---------------------------------*/
#finance-services.main-section{
	background:url('/img/bg-financial-services.jpg') left center no-repeat;
	background-size:100% auto;
	padding: 150px 0 150px;
}

#finance-services.main-section .container h2{
	color:#fff;
	font: 400 48px/68px 'Georgia';
	text-transform:none;
	width:65%;
	margin:0 auto;
}

/* Feed list
---------------------------------*/
.feed-col h2, .feed-col h2 a {
	color:#fff;
	margin:0 auto;
	padding:15px 0;
	font-size:32px;
	font-weight:400;
}
.feed-col .feed-header-row{
	background:#2E1344;	
}
.feed-list{
	font-size:14px;
	background:#F2F2F2;
	padding:20px 20px 0 20px;
}
.feed-list-col1{
	float:left;
	width:60px;
}
.feed-list-row{
	overflow:hidden;	
}
.feed-list-row h3{
	color:#302156;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.feed-list-row .date{
	font-size:14px;
	font-weight:500;
	display:block;
	margin:10px 0;
	color:#8a1b61;
}
.feed-list-row .view-link{
	font-size:14px;
	font-weight:500;
	display:block;
	margin:10px 0;
	color:#302156;
	text-transform:uppercase;
	text-align:right;
}
.main-section.alabaster{
	background:#fafafa;
}

/* google map
---------------------------------*/
.google-map {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}
.google-map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/* contact
---------------------------------*/
.contact-row{
	background:#2E1344;
	color:#fff;
	overflow:hidden;
}
.contact-row .contact-row-col1{
	float:left;
	width:160px;
}
.contact-row .contact-row-col1 svg{
	margin:auto;	
	margin:60px 20px 60px 80px;
}
.contact-row .contact-row-col2{
	overflow:hidden;	
	padding:38px 10px;
	margin:0;
}
.contact-row .contact-row-col2 h3{
	color:#fff;	
}
.contact-row .contact-row-col2 a{
	padding:10px 0;
	color:#fff;	
	display:block;
}
.contact-row .contact-row-col2 a:hover, .contact-row .contact-row-col2 a:focus{
	
}

/* contact links
---------------------------------*/
.contact-links-row{
	background:#211247;
	color:#fff;
	overflow:hidden;
}
.contact-links-row .contact-links-row-col1{
	float:left;
	width:50%;
	padding:40px;
}
.contact-links-row .contact-links-row-col1 .link{
	margin:20px 0;
	float:right;
}
.contact-links-row .contact-links-row-col2 svg{
	margin:30px 0;
	position:relative;
	float:left;
}
.contact-links-row .contact-links-row-col2{
	overflow:hidden;	
	padding:40px;
	margin:0;
}

/* finance
---------------------------------*/
.ftse-row{
	background:#0F0617;
	color:#fff;
	overflow:hidden;
	padding:56px 100px;
}
.ftse-row h2{
	color:#fff;
	font: 500 21px/21px 'Roboto';
	text-align:left;
}
.ftse-row h3{
	color:#fff;
	font: 500 14px/14px 'Roboto';
	text-align:left;
}
.ftse-row h4{
	margin: 20px 0 0 0;
	display:block;
	color:#fff;
	font: 400 44px/44px 'Roboto';
	text-align:left;
}
.ftse-row h4 span{
	padding-left:20px;
	font: 400 30px/14px 'Roboto';
	text-align:left;
	color:#D0021B;
}
.ftse-row h4 span.positive{
	color:#02D044;	
}

/* strapline
---------------------------------*/
.main-section#strapline{
	background:#211247;
	padding:30px 0 30px 0;
}
.main-section#strapline h2{
	font: 300 17px/21px 'Roboto';
	color:#fff;
	font-style: italic;
	margin:0;
}
img {
   max-width:100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}

/* Footer
---------------------------------*/

.footer{
	background:#0F0617;
	padding:35px 0 35px;
}
.footer-logo{
	margin:15px auto 35px;
	width: 76px;
}
.footer .logo{
	top:auto;
	position:relative;
	margin:0;
}

.footer h2, .footer h2 a{
	color:#fff;	
	text-align:right;
	font: 500 24px/28px 'Roboto';
}
.footer p{
	color: rgba(255,255,255,0.75);
	text-align:right;
	font: 400 12px/14px 'Roboto';
	font-style:italic;
}
.footer p a{
	color: rgba(255,255,255,0.75);
	text-decoration:underline;
}
.copyright{
	padding-top:10px;
}

.copyright a:hover {
	color: #fff;
}

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #7cc576 !important;
}

.portfolioContainer{
	max-width: 1140px;
}


/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.bounceInRight,
.bounceInLeft,
.bounceInUp,
.bounceInDown {
    opacity: 0;
    -webkit-transform: translateX(400px);
    -ms-transform: translateX(400px);
    transform: translateX(400px)
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-400px)
    }
    60% {
        -webkit-transform: translateY(30px)
    }
    80% {
        -webkit-transform: translateY(-10px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-400px);
        transform: translateY(-400px)
    }
    60% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

#overlay {
    background: #302156;
    background: rgba(43,33,86, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    cursor: pointer;
    z-index: 2000;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.overlay-inner {
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    color: #fff
}

.overlay-inner p {
    width: 30em;
    margin: auto
}
.overlay-inner p.contract-intro{
	width:auto;
	margin:5px 0;	
}
.overlay-inner a {
    color: #fff
}

@media (min-width: 38em) {
    .overlay-inner {
        top: 0
    }
}

@media (min-width: 53em) {
    .overlay-inner {
        left: 0;
        right: 0;
        height: 775px;
        max-width: 72em;
        margin: 0 auto;
		padding-top:8%;
    }
}

.overlay-inner__inner {
    position: relative
}

.close-lightbox {
    position: absolute;
    top: 1em;
    right: 0.5em;
	font: 400 28px/18px 'Roboto';
	color:#fff;
}
.noscroll {
    overflow: hidden
}
.form-fields {
    list-style: none;
    margin: 0
}

.form-fields>li {
    margin-bottom: 1.61803em
}

.form-fields>li:last-child {
    margin-bottom: 0
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='url'],
textarea,
select {
    font-size: 1em;
    display: inline-block;
    padding: 0.61803em;
    background-color: #fff;
    border: 1px solid #454443;
    color: #454443;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0)
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
    border-color: #454443;
    outline: none
}

.error input[type='text'],
.error input[type='email'],
.error input[type='password'],
.error input[type='number'],
.error input[type='search'],
.error input[type='tel'],
.error input[type='url'],
.error textarea,
.error select {
    background-color: #ec6060;
    color: #fff
}

.error input[type='text']:focus,
.error input[type='email']:focus,
.error input[type='password']:focus,
.error input[type='number']:focus,
.error input[type='search']:focus,
.error input[type='tel']:focus,
.error input[type='url']:focus,
.error textarea:focus,
.error select:focus {
    background-color: #fff;
    color: #454443;
    border-color: #ec6060
}

.success input[type='text'],
.success input[type='email'],
.success input[type='password'],
.success input[type='number'],
.success input[type='search'],
.success input[type='tel'],
.success input[type='url'],
.success textarea,
.success select {
    background-color: #27ae60;
    border-color: #27ae60;
    color: #fff
}

.success input[type='text']:focus,
.success input[type='email']:focus,
.success input[type='password']:focus,
.success input[type='number']:focus,
.success input[type='search']:focus,
.success input[type='tel']:focus,
.success input[type='url']:focus,
.success textarea:focus,
.success select:focus {
    background-color: #fff;
    color: #454443;
    border-color: #27ae60
}

input[disabled][type='text'],
input[disabled][type='email'],
input[disabled][type='password'],
input[disabled][type='number'],
input[disabled][type='search'],
input[disabled][type='tel'],
input[disabled][type='url'],
textarea[disabled],
select[disabled] {
    background: #505050;
    color: #fff;
    cursor: not-allowed
}

textarea {
    resize: vertical
}

select {
    cursor: pointer
}

.error .message {
    margin: 0.61803em 0;
    color: #ec6060;
    fill: #ec6060
}

.success .message {
    margin: 0.61803em 0;
    color: #27ae60;
    fill: #27ae60
}

.email--signup {
    width: 100%
}

@media (min-width: 38em) {
    .email--signup {
        width: auto
    }
}

input[type="checkbox"],
input[type="radio"] {
    display: none
}

input[type="checkbox"] ~ span,
input[type="radio"] ~ span {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #505050
}

input[type="checkbox"] ~ label,
input[type="radio"] ~ label {
    position: relative;
    cursor: pointer
}

input[type="checkbox"]:checked ~ span,
input[type="radio"]:checked ~ span {
    background: #27ae60
}

input[type="radio"] ~ span {
    border-radius: 100%
}

input[type="submit"] {
    background: #1beab8 url(/imgs/plus-medium.png) no-repeat center;
    text-indent: -9999px;
    border: 1px solid #454443;
    padding: 0.68em 1.2em;
    color: #505050
}

@media (min-width: 38em) {
    input[type="submit"] {
        border-left: 0
    }
}

.optional label:after {
    content: " (optional)"
}

.contact--form input,
.contact--form textarea {
    margin: 0.61803em 0;
    border: none;
    padding: 1.61803em;
	border-radius: 5px;
}
.overlay-inner .contact-icon{
	margin-top:20px;
	width:100px;	
}
.overlay-inner .contact-connect{
	font: 400 14px/29px 'Roboto';
	margin:20px 0 0 -210px;
	position:absolute;
	width:170px;
}
.overlay-inner h1{
	font: 700 24px/29px 'Roboto';
}
button.contact--form-button {
  background-color: #1beab8;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  fill: #fff;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  margin: 0.61803em 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border: medium none;
}

/* jqueryconfirm overrides
---------------------------------*/
.jconfirm-box .btn-ok{
	float:right;	
	margin-left: 5px;
	background: #8A196A; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#8A196A, #302156); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8A196A, #302156); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8A196A, #302156); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8A196A, #302156); /* Standard syntax */
	box-shadow: none;
}
.jconfirm-box .btn-ok:hover{
	box-shadow: none;
	text-decoration:underline;
 
}
.jconfirm-box .btn-cancel{
	margin-left: 0;
	background:none;
	color:#000!important;
}
.jconfirm-box .btn-cancel:hover{
	box-shadow: none;
	text-decoration:underline;
}