.sidebar {
  text-align: right;
  margin-top: $ratio#{em};
  h4 {
    line-height: 1.3em;
    margin: 0;
  }
  .icon {
    margin-bottom: $ratio--inv#{em};
  }
}

.sidebar__form {
  margin: $ratio#{em} 0 15 + $ratio#{em} 0;

}

address {
  h4 {
    line-height: 1.3em;
  }
}
