*{
    box-sizing: border-box;
}

html{
    color: $color__black;
    background-color: $color__white;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    padding-top: $ratio#{em};
    opacity: 0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    font-weight: $font-weight-light;
    animation-duration: 0.5s;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

.ie9 body,
.ie8 body {
  opacity: 1;
}


%wrapper{
    max-width: map-get($breakpoints, medium);
    width: 100%;
    margin: auto;
    padding: 0 $ratio#{em};
}

.wrapper{
    @extend %wrapper;
}

.hide{
    display: none;
}
