.nav {
 font-size: 20px;
 text-align: left;
 margin: 0;
 padding-top: 0;
 padding-left: 2em;
 padding-bottom: 0;
 @include breakpoint(small){
   font-size: 25px;
   margin-top: 1.5em;
   text-align: right;
   padding-left: $ratio--inv#{em};
   padding-top: $ratio--inv#{em};
   padding-right: $ratio--inv#{em};
 }
 svg {
   fill: $color__black;
   position: absolute;
   top: 0;
 }
 .icon {
   padding-top: 0px;
 }
}

.nav__ul {
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.nav__li {
  padding-left: 0.3em;
  display: inline-block;
  position: relative;
  &:not(:last-child):after {
    content: '/';
  }
  a {
    padding-right: 0.3em;
    display: inline-block;
  }
}
