// Don't leave stuff in here, it's lazy and everyone will hate you for it.
.error-message {
	display: block;
}

.notification {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	background: $color__blue;
	padding: $ratio--inv#{em} 0;
}
