$heading-font: 'justus-pro', serif;
$body-font: 'justus-pro', serif;

$line-height: $ratio#{em};
$font-weight: 100;
$base-font-size: 14;


$font-weight-light: 200;
$font-weight-medium: 300;
$font-weight-bold: 400;

html{
    font-family: $body-font;
    line-height: $line-height;
    font-size: $base-font-size#{px};
    font-weight: $font-weight-light;
    direction: ltr;
    display: block;
    unicode-bidi: embed;
    -webkit-locale: en-UK;
}

body{
  // font-size: 18 / $base-font-size#{em};
  //   @include breakpoint(small){
  //       font-size: 20 / $base-font-size#{em};
  //       line-height: $line-height;
  //   }
  //   @include breakpoint(medium){
  //       font-size: 25 / $base-font-size#{em};
  //       line-height: $line-height;
  //   }
  //   @include breakpoint(large){
  //       font-size: 30 / $base-font-size#{em};
  //       line-height: $line-height;
  //   }
}
